body {
	margin: 0;
	padding: 0;	
	color:#666666;
	
}

#contenedor{
	font-family: Helvetica, Arial, sans-serif;
	background:#bdbdbd url('../img/squares.png');
	font-weight: bold;
	font-size: 13px;
	margin: 1px auto 1px auto;
	width: 90%;
	padding: 14px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 3px 2px 8px #999;
	-ms-box-shadow: 2px 2px 5px #999;
}

header{
	
	background:#fff;
	border-radius: 0.5em 0.5em 0 0;
	border-color: #ffffff;
	display: inline-block;
	margin: 4px auto;
	width: 97.5%;
	padding: 0.80em;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
}

header h1, nav{
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
	
}

header h1
{
color:white;
text-shadow:2px 2px 4px #000000;
}



.menu,
.menu ul,
.menu li,
.menu a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

/* Menu para controlar tamaño y cantidad de menus  */ 
.menu {	
	height: 40px;
	width: 750px;

	background: #4c4e5a;
	background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
}
.menu1 {	
	height: 35px;
	width: 200px;

	background: #4c4e5a;
	background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
}
.menu1 li {
	
	list-style: none;
	float: left;
	display: block;
	height: 30px;
}

.menu li {
	position: relative;
	list-style: none;
	float: left;
	display: block;
	height: 40px;
}

/* Links */

.menu li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	
	border-left: 1px solid #393942;
	border-right: 1px solid #4f5058;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;

	color: #f3f3f3;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

.menu1 li a {
	display: block;
	padding: 0 14px;
	margin: 6px 0;
	line-height: 28px;
	text-decoration: none;
	
	border-left: 1px solid #393942;
	border-right: 1px solid #4f5058;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;

	color: #f3f3f3;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.menu1 li:first-child a { border-left: none; }
.menu1 li:last-child a{ border-right: none; }

.menu1 li:hover > a { color: #8fde62; }

.menu li:first-child a { border-left: none; }
.menu li:last-child a{ border-right: none; }

.menu li:hover > a { color: #8fde62; }

/* Sub Menu */

.menu ul {
	position: absolute;
	top: 40px;
	left: 0;

	opacity: 0;
	
	background: #1f2024;

	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

.menu ul li a {
	width: 100px;
	padding: 4px 0 4px 40px;
	margin: 0;

	border: none;
	border-bottom: 1px solid #353539;
}

.menu ul li:last-child a { border: none; }


.menu ul {
	position: absolute;
	top: 40px;
	left: 0;

	opacity: 0;
	
	background: #1f2024;

	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

.menu ul li a {
	width: 100px;
	padding: 4px 0 4px 40px;
	margin: 0;

	border: none;
	border-bottom: 1px solid #353539;
}

.menu ul li:last-child a { border: none; }





.menu1 ul {
	position: absolute;
	top: 40px;
	left: 0;

	opacity: 0;
	
	background: #1f2024;

	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;

	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}

.menu1 li:hover > ul { opacity: 1; }

.menu1 ul li {
	height: 0;
	overflow: hidden;
	padding: 0;

	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}

.menu1 li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}

.menu1 ul li a {
	width: 100px;
	padding: 4px 0 4px 40px;
	margin: 0;

	border: none;
	border-bottom: 1px solid #353539;
}

.menu1 ul li:last-child a { border: none; }






@media (min-width:1081px){

	header h1{
		text-align: left;
		width: 35%;
	}
	
	nav {
		text-align: right;
		width: 60%;	
	}
	

}	


@media (max-width:1081px){

	header h1{
		text-align: left;
		width: 35%;
	}
	
	nav {
		text-align: right;
		width: 60%;	
	}
	
	
	
	section#principal, aside{
	
		padding: 0.60em;
		
	}


}	

section#contenido{
	background: #fff;
	border-radius: 0.5em 0.5em 0 0;
	border-color: #ffffff;
	display: inline-block;
	margin: 0 auto;
	max-width: 100%;
	padding: 0.80em;
	vertical-align: middle;
	width: 97.5%;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	
}

section#principal, aside{
	
	
	background: #4c4e5a;
	background: -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
	background: linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	
	
	
	border-radius: 0.5em;
	border-color: #ffffff;
	display: inline-block;
	margin: 0 auto;
	max-width: 100%; 
	padding: 0.80em;
	vertical-align: top;
	width: 30%;
	
}


article{
	max-width: 90%;
	vertical-align: center;
}

aside{
	width: 65%
}

/* Para los formularios */


form {
	width: 100%;
	
}


form .cmf-skinned-select {
	width: 96.5%;
	padding: 5px;
	display: block;
	margin-right: 3%;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	}

form .cmf-skinned-select:hover {

	}
	

fieldset {
	height: 50%;
	width: 100%;
	border: 1px solid #fff;
    padding: 2;
    padding-left: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
}

legend {
    font-size: 1 em;
    color: #fff;
    font-weight: bold;
    margin-left: 3%;
    padding: 5px 10px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -border-radius: 5px;
    -khtml-border-radius: 5px;
    text-transform: capitalize;
}


.input2, textarea { 
	width: 97%;
	padding: 5px;
	display: block;
	margin-right: 3%;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	}


.input2:hover, textarea:hover,
.input2:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}

.form label { 
	margin-left: 12px; 
	color: #999999; 
	}

.submit input {
	width: auto;
	padding: 9px 15px;
	background: #212121 ;
	border: 0;
	font-size: 14px;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	}

.submit input:hover {
	width: auto;
	padding: 9px 15px;
	background: #8fde62;
	border: 0;
	font-size: 14px;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	}
	

@media (min-width:1081px){

	header h1{
		text-align: left;
		width: 35%;
	}
	
	nav {
		text-align: right;
		width: 60%;	
	}
	

}	


@media (max-width:1081px){

	header h1{
		text-align: left;
		width: 35%;
	}
	
	nav {
		text-align: right;
		width: 60%;	
	}
	
	
	
	section#principal, aside{
	
		padding: 0.60em;
		
	}


}	
	
.input3{ 
	width: 80%;
	height: 23px;
	padding: 5px;
	display: block;
	margin-right: 3%;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	}


.input3:hover,
.input3:focus{ 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
	}


footer{
	
	background: #fff;
	border-radius: 0  0  0.5em  0.5em;
	border-color: #ffffff;
	display: inline-block;
	margin: 4px auto;
	padding: 0.80em;
	width: 97.5%;
	-moz-box-shadow: 2px 2px 5px #999;
	-webkit-box-shadow: 2px 2px 5px #999;
	
}

#empleado{
	display: inline-block;
	margin: 15px 15px 20px 0;
	max-width: 95%;
	vertical-align: middle;
	width: 97.5%;
	
}
